/* .empty-input {
  border: 2px solid red;
} */

.empty-input-warning {
  color: red;
}

.input-text {
  width: 16em;
  height: 2.4em;
}

.input-label {
  padding-top: 10px;
}

.calculate-button {
  padding-top: 20px;
}